In [6]:
!pip uninstall nltk textblob -y
!pip install --no-cache-dir nltk textblob

Found existing installation: nltk 3.9.1
Uninstalling nltk-3.9.1:
  Successfully uninstalled nltk-3.9.1
Found existing installation: textblob 0.19.0
Uninstalling textblob-0.19.0:
  Successfully uninstalled textblob-0.19.0
Collecting nltk
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: click in c:\users\bkesh\miniconda3\envs\tf\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\bkesh\miniconda3\envs\tf\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\bkesh\miniconda3\envs\tf\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\bkesh\miniconda3\envs\tf\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\bkesh\miniconda3\envs\tf\lib\site-packages (from click->nltk) (0.4.6)
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ------------- -------------------------- 0.5/1.5 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 8.0 MB/s eta 0:00:00
Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   --------------------------------------- 624.3/624.3 kB 22.6 MB/s eta 0:00:00
Installing collected packages: nltk, textblob
Successfully installed nltk-3.9.1 textblob-0.19.0

In [1]:
import pandas as pd
import re
from bs4 import BeautifulSoup  # To remove HTML tags
from textblob import TextBlob
import nltk

# Load the dataset
http_df = pd.read_csv("./downsampled_processed_http.csv", low_memory=False)

# Ensure the content column exists
if "content" in http_df.columns:
    
    def preprocess_text(text):
        """Preprocess webpage content before sentiment analysis."""
        if pd.isna(text):  # Handle NaN values
            return ""
        
        text = BeautifulSoup(text, "html.parser").get_text()  # Remove HTML tags
        text = re.sub(r"[^a-zA-Z0-9\s]", "", text)  # Remove special characters
        text = re.sub(r"\s+", " ", text).strip()  # Remove extra spaces
        return text.lower()  # Convert to lowercase

    # Apply preprocessing
    http_df["cleaned_content"] = http_df["content"].astype(str).apply(preprocess_text)

    # Apply sentiment analysis
    http_df["sentiment"] = http_df["cleaned_content"].apply(lambda x: TextBlob(x).sentiment.polarity)

    # Drop the cleaned content column if not needed
    http_df.drop(columns=["cleaned_content"], inplace=True)

    # Save the modified dataset
    http_df.to_csv("http_with_sentiment.csv", index=False)

    print("Sentiment analysis completed. Output saved as http_with_sentiment.csv")

else:
    print("Error: 'content' column not found in http.csv")

Sentiment analysis completed. Output saved as http_with_sentiment.csv

In [2]:
http_df.head()

,id,date,user,pc,url,content,anomalous,sentiment
0,{G5S8-U5OG04TE-5299CCTU},01/02/2010 07:05:26,IRM0931,PC-7188,http://groupon.com/Leonhard_Euler/leonhard/tne...,among german schwein experimental becomes prev...,0,0.045076
1,{L0R4-A9DH29VP-4553AUWM},01/02/2010 07:05:52,IRM0931,PC-7188,http://flickr.com/Inauguration_of_Barack_Obama...,kate criteria j 2008 highest 12 include books ...,0,-0.112500
2,{U7D0-K8FF04MI-4691ZHYP},01/02/2010 07:05:55,IRM0931,PC-7188,http://skype.com/William_D_Boyce/lsa/onpxcnpxp...,feed commonly reef frogs years replaced walter...,0,-0.041667
3,{A4Z0-C9LR36OE-7241XUSU},01/02/2010 07:06:33,IRM0931,PC-7188,http://constantcontact.com/2008_ACC_Championsh...,columns ceased did needed after lead frequentl...,0,-0.030357
4,{B7T7-C5LJ57MV-5914HNQX},01/02/2010 07:08:11,IRM0931,PC-7188,http://edmunds.com/RomanPersian_Wars/parthian/...,october i 228 pushed went uks under study cons...,0,0.027778